<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 관리자 - 메인 </title>
    <link rel="stylesheet" th:href="@{/css/fragments/commons.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminMain.css}">
    <script th:src="@{/js/admin/adminMain.js}"></script>
</head>
<body>
    <div class="container">
        <!-- 네비게이션 -->
        <div th:replace="fragments/commons :: nav"></div>

        <!-- 섹션 -->
        <section>
            <!-- 배너 설정 -->
            <h2>배너</h2>
            <table>
                <tr class="info">
                    <td style="width: 5%;">순서</td>
                    <td style="width: 30%;">이미지</td>
                    <td style="width: 10%;">배경 색상</td>
                    <td style="width: 45%;">연결 페이지</td>
                    <td style="width: 10%;">작업</td>
                </tr>

                <tr th:each="b : ${banners}" th:data-id="${b.num}">
                    <td th:text="${b.num}">1</td>
                    <td>
                        <div class="imgPreview">
                            <img th:if="${b.img != null}" th:src="@{'/uploads/' + ${b.img}}" style="width: 100px;">
                            <input type="file" class="imgInput" accept="image/*" onchange="uploadImg(this)">
                            <input type="hidden" class="imgPathInput" th:value="${b.img}">
                        </div>
                    </td>
                    <td><input type="text" class="colorInput" th:value="${b.color}" placeholder="헥스코드"></td>
                    <td><input type="text" class="urlInput" th:value="${b.url}" placeholder="연결 페이지"></td>
                    <td>
                        <button type="button" class="subBtn" onclick="updateBanner(this)">적용</button>
                        <button type="button" class="editBtn" onclick="reset(this)">초기화</button>
                    </td>
                </tr>
            </table>

            <!-- 링크 연결 설정 -->
            <h2>링크</h2>
            <table>
                <tr class="info">
                    <td style="width: 15%;">분류</td>
                    <td>링크</td>
                    <td style="width: 20%;">작업</td>
                </tr>
                <tr th:each="link : ${mainLinks}" th:data-id="${link.id}">
                    <td th:switch="${link.id}">
                        <span th:case="1">일정 안내</span>
                        <span th:case="2">참관객 안내</span>
                        <span th:case="3">부스어 안내</span>
                        <span th:case="4">부스 홍보</span>
                    </td>
                    <td>
                        <input type="text" class="linkInput" th:value="${link.url}" placeholder="링크 입력">
                    </td>
                    <td>
                        <button type="button" class="subBtn" onclick="updateLink(this)">적용</button>
                        <button type="button" class="editBtn" onclick="resetLink(this)">초기화</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <script th:src="@{/js/fragments/commons.js}"></script>
</body>
</html>